#!/bin/bash

# relative path of usr root from home directory ($HOME)
declare USR_RELATIVE=usr    # CONFIG

# relative path of the machine-local subtree root from $USR_ROOT_RELATIVE
declare LOCAL_RELATIVE=local # CONFIG

# absolute paths to filecloud service roots
declare DRIVE_HOME="$HOME"/Drive # default is "$HOME/Google Drive"
declare DROPBOX_HOME="$HOME"/Dropbox

# path to the usr root beneath Dropbox (relative to $DROPBOX_HOME)
declare DROPBOX_RELATIVE="usr"

# path to the usr root beneath Google Drive (relative to $DRIVE_HOME)
declare DRIVE_RELATIVE="usr"

declare CONFIG_DIR_NAME=.eyrie

# $HOME-level hidden files to be linked to $USR/etc/$filename
declare -a RC_LINKED
RC_LINKED=( {profile,{bash,bazel,csh,top,vim,zsh}rc,bash_{aliases,profile,login,logout},git{config,ignore},p4config} )

# must be a value contained in SUPPORTED_CLOUDS; currently one of Dropbox, Drive, iCloud
declare PRIMARY_CLOUD=Drive

# paths beneath $USR to be linked from Google Drive regardless of whether it is the primary cloud
declare -a IN_DRIVE=(  )
declare -a IN_DROPBOX=(  )
declare -a IN_ICLOUD=(  )
